<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760253870545-saad9hv94ega90es9vi49v5bhn5gsouv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760253870545-saad9hv94ega90es9vi49v5bhn5gsouv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760253870545-20i338tf8hme6rptqomino37gign1rbr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGnDVkEc-Sv6pC-YuZF0osY0z8WZz3a2A</string>
	<key>GCM_SENDER_ID</key>
	<string>760253870545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uipl.ready-hubb-rnapp</string>
	<key>PROJECT_ID</key>
	<string>readyhubbapp-b085e</string>
	<key>STORAGE_BUCKET</key>
	<string>readyhubbapp-b085e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760253870545:ios:c4b5b6246a8dd4735db0f0</string>
</dict>
</plist>